@media screen and (min-width:320px) {

    #wrap {
        margin: 30;
        padding: 20px;
    }

    header {
        color: black;
        text-align: center;
        padding: 1rem;
    }

    header h1 {
        margin-bottom: 10px;
    }

    #line {
        width: 100%;
        height: 2px;
        background-color: #ddd;
        margin: 20px 0;
    }

    #profile_w{
        display: none;
    }

    #main{
        margin: 20px;
        border: 1px solid silver;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #detail{
        padding: 15px;
        margin: 30px;
        border: 1px solid  rgb(255, 253, 253);
        width: 50vw;
        border-radius: 10px;
        background-color:  rgb(255, 253, 253);
        box-shadow: 0px 8px 20px rgba(0, 0, 0, .7) ;
    }

    #detail section h3, h4{
        font-size: 1rem;
        color: gray;
    }

    #detail section p{
        color: black;
        font-size: 1.3rem;
        font-weight: bold;
    }
    #detail table{
        border: 1px solid black;
        width: 30vw;
        color: black;
        font-size: 1.3rem;
        font-weight: bold;
    }

    #monthPay{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        }

    #line2 {
        width: 100%;
        height: 1px;
        background-color: #ddd;
        margin: 20px 0;
       }

     #totalPay{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        }


     #totalPay>#p1{
        color:  gray;
        }

    #totalPay>#p2{
        color: rgb(87, 209, 209);
    }




    #carImg {
        position: relative;
        left: calc(200% - 200px); /* 초기 위치: 오른쪽 화면 밖 */
        top: 50%; /* 시작 위치의 수직 중앙 조정 */
        animation: carMove 2s cubic-bezier(0.1, 0.25, 0.75, 1.0) forwards; /* 애니메이션 지속 시간과 타이밍 함수 조정 */
    }
    
    @keyframes carMove {
        0% {
            right: -200px;
        }
        100% {
            left: 5%; /* 움직일 위치 */
        }
    } 


    footer {
        margin: 20px;
        background-color: gainsboro;
        color: black;
        display: flex;
        align-content: space-between;
        padding: 1rem;
        
    }

    footer h4 {
        margin: 10px 40px;

    }

    footer ul {
        position: relative;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    footer ul li a img {
        max-width: 30px;
      
    }

}

/*    ==========================================================================   */



@media screen and (min-width:768px), screen and (min-height:760px) and(orientation:landscape) {
    

}


/*    ==========================================================================   */

@media screen and (min-width:1024px) {


    #wrap {
        margin: 30;
        padding: 20px;
    }

    header {
        color: black;
        text-align: center;
        padding: 1rem;
    }

    header h1 {
        margin-bottom: 10px;
    }

    #line {
        width: 100%;
        height: 2px;
        background-color: #ddd;
        margin: 20px 0;
    }

    #profile_w {
        width: 100%;
        margin: 0px 20% 0px 0px;
        display: flex;
        justify-content: end;        
     }

    #main{
        margin: 20px;
        border: 1px solid silver;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #content{
        border: 1px solid black;

        display: flex;
        flex-direction: row-reverse;
    }
    
    #detail{
        border: 1px solid black;

        padding: 15px;
        margin: 30px;
        border: 1px solid  rgb(255, 253, 253);
        width: 30vw;
        border-radius: 10px;
        background-color:  rgb(255, 253, 253);
        box-shadow: 0px 8px 20px rgba(0, 0, 0, .7) ;
    }

    #detail section h3, h4{
        font-size: 1rem;
        color: gray;
    }

    #detail section p{
        color: black;
        font-size: 1.3rem;
        font-weight: bold;
    }
    #detail table{
        border: 1px solid black;
        width: 30vw;
        color: black;
        font-size: 1.3rem;
        font-weight: bold;
    }

    #monthPay{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        }

    #line2 {
        width: 100%;
        height: 1px;
        background-color: #ddd;
        margin: 20px 0;
       }

     #totalPay{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        }


     #totalPay>#p1{
        color:  gray;
        }

    #totalPay>#p2{
        color: rgb(87, 209, 209);
    }




    #carImg {
        position: relative;
        left: calc(200% - 200px); /* 초기 위치: 오른쪽 화면 밖 */
        top: 50%; /* 시작 위치의 수직 중앙 조정 */
        animation: carMove 2s cubic-bezier(0.1, 0.25, 0.75, 1.0) forwards; /* 애니메이션 지속 시간과 타이밍 함수 조정 */
    }
    
    @keyframes carMove {
        0% {
            right: -200px;
        }
        100% {
            left: 5%; /* 움직일 위치 */
        }
    } 


    footer {
        margin: 20px;
        background-color: gainsboro;
        color: black;
        display: flex;
        align-content: space-between;
        padding: 1rem;
        
    }

    footer h4 {
        margin: 10px 40px;

    }

    footer ul {
        position: relative;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    footer ul li a img {
        max-width: 30px;
      
    }

}
   
}


