@media screen and (min-width:320px), screen and (max-height: 479px) and (orientation:landscape) {
    main.wrap{
        width: 60%;
        margin: 0 auto;
    }
    main.wrap>h2{
        font-size: 3rem;
        border-bottom:1px solid gray; 
    }
    article{
        display: inline-block;
    }
    ul.carWrap{
        display: inline-block;
        list-style: none;
        padding: 0;
    }
    ul.carWrap li {
        display: inline-block;
        text-align: center;
    }
    div.kiaCar{
        padding: 6vh 0;
    }
    div.default{
        display: flex;
        flex-direction: column;
    }
    div.default>h2{
        margin-bottom: -1vh;
    }
    span.firstImg img, span.hoverImg img {
        width: 80%;
    }
    article img.logo{
        width: 40%;
        height: 13vh;
        position: relative;
        left: 25%;
        margin-bottom: 3vh;
        border-bottom-width: 10vw;
        border-bottom: 2px solid black;
    }
    div.kiaCar:hover{ /*   div.hoverBtn  */
        display: block;
        background-color: #F6F6F6;
        border-radius: 10%;
    }
    div.kiaCar:hover div.hoverBtn { /*   div.hoverBtn  */
        display: block;
        /* background-color: #F6F6F6;
        border-radius: 10%; */
    }
     /* hover Event */
    div.hoverBtn{
        display: none;
        list-style: none;
    }

    div.hoverBtn a{
        text-decoration: none;
        color: black;
    }
    div.hoverBtn a img{
        width: 1vw;
        margin-left: 0.5vw;
        margin-right: 1vw;
    }
    span.hoverImg{
        display: none;
    }
}

@media screen and (min-width:768px), screen and (min-height:760px ) and (max-height:1023px) and (orientation:landscape){

}

@media screen and (min-width:1024px){

}