@media screen and (min-width:0px), screen and (max-height:479px) and (orientation:landscape){
header{
    width: 100%;
    height: 3.5vh;
    background-color: aliceblue;
}
.head{
    text-align: center;
}
.head>p{
    font-size: 10px;
    color: rgb(163, 163, 163);
}
section{
    background-color: #f3f3f3;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.aboutStep{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.step{
    color: rgb(84, 84, 84);
    font-size: 10px;
}
.stepname{
    margin: 0px 10px;
    font-size: 10px;
    font-weight: bold;
    color: black;
}

.line{
    width: 97%;
    border-bottom: 0.1px solid rgb(75, 75, 75);
    margin: 5px;
    margin-bottom: 10px;
}

#step1,#step2{
    font-size: 8px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

select{
    width: 100%;
    height: 40px;
    border: #EEE 1px solid;
    border-radius: 10px;
    padding: 10px;
    padding-left: 30px;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 0px;
    
}
.layout2{
    text-align: center;
    font-size: 10px;
}
.layout{
    display: flex;
    flex-direction: row;
}

.infotype{
    font-size: 10.5px;
    font-weight: bold;
    margin: 5px 0px;
}
.name,.phone{
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 8px;
    color: rgb(0, 0, 0);
    margin-top: -3px;
    margin-bottom: 10px;
}
.name>div:nth-child(2), .phone>div:nth-child(2){
    font-size: 14px;
    font-weight: bold;
}

.contactInfo>p:nth-child(2){
    font-size: 9px;
    margin-top: -3PX;
}
.contactInfo>p:nth-child(3){
    margin-top: -5PX;
    color: rgb(106, 107, 107);
    font-size: 10px
}


.agreeAll{
    width: 100%;
    font-size: 10px;
    height: 3.5vh;
    border-radius: 15px;

}
#ask{
    width: 100%;
    height: 70px;
    border: white;
    border-radius: 1px;
    text-align: start;
    font-size: 10px;
}
#askConsult{
    margin-top: 50px;
    width: 100%;
    height: 20%;
    background-color: black;
    color: white;
    font-size: 17.5px;
    padding: 10px;
    border-radius: 3px;
}

footer{
    display: none;
}

.place{
    display: flex;
    flex-direction: row;
}
.place1,.place2{
    width: 50%;
    margin: 3px;
}
.step1_1{
    display: none;
}
}

@media screen and (min-width:768px) ,screen and (min-height:760px) and (orientation:landscape) {

.layout3{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid silver;
}

.step1_1{
    display:block;
}


.selectName1{
    border: 1px solid silver;
    width: 25%;
    text-align: center;
    font-size: 9px;
}
.layout4{
    display: flex;
    flex-direction: column;
}
#step1{
    display: none;
}
.selectCategory{
    border: 1px solid silver;
    width: 25%;
    font-size: 9px;
    display: flex;
    flex-direction: column;
    padding-left: 20px ;
    padding-bottom: 20px;
    font-size: 14px;
}
.selectCategory>label:first-child{
    text-align: center;
    margin: 15px;
    font-weight: bold;
}
}

@media screen and (min-width:1024px), screen and (min-height:1024px) and (orientation:landscape){
    
}