@media screen and (min-width:0px), screen and (max-height:479px) and (orientation:landscape){
    header{
        width: 100%;
        height: 3.5vh;
        background-color: aliceblue;
    }
    .main-car{
        background-color: silver;
        padding: 5px 20px 20px 10px;
    }
    .name{
        width: 50%;
        font-size:30px;
        display: flex;
        font-weight: bold;
        align-items: center;
        justify-content: start;
    }
    .layout>img{
        width: 30%;
    }
    .price{
    font-size: 19px;
    font-weight: bold;
    align-items: center;
    margin-top: -10px;
    }
    .price2{
        font-size: 23px;
    }
    .won{
        display: flex;
        flex-direction: column;
        justify-content: end;
        font-size: 18px;
        padding: 0px 10px;
    }
    .layout{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .layout2{
        display: flex;
        flex-direction: row;
    }
    .car_photo{
        display:block;
        margin-top: 20px;
        width: 100%;
        object-fit: cover;
          
    }
    .color{
        height: auto;
        padding: 20px
    }
    .colorType{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /*----------------------------------------*/

    .layout3{
        width: 98%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        
    }
    

    .outColor{
        width: 14%;
        height: 60px;
        background-color: silver;
        border-radius: 100%;
        display: flex;
        text-align: ;
        appearance: none;
    }

    .outColor.outColor:hover{
        transform: scale(1.3);
    }
    .outColor.outColor:checked{
        transform: scale(1.3);

    }
    #white,#white:checked{
        background-color: silver;
        accent-color: silver;
    }
    /* 수정하자!!!!!!!!!!!!!!
    #white:after{
        display: flex;
        flex-direction: row;
        position: absolute;
        content: '✔'
    }*/
    #red,#red:checked{
        background-color: rgb(243, 109, 109);
        accent-color: rgb(243, 109, 109);
    }
    #blue,#blue:checked{
        background-color: rgb(3, 3, 175);
        accent-color: rgb(3, 3, 175);
    }
    #beige,#beige:checked{
        background-color: rgb(253, 199, 143);
        accent-color: rgb(253, 199, 143);
    }
    #brown,#brown:checked{
        background-color: rgb(125, 65, 0);
        accent-color: rgb(125, 65, 0);
    }
    #black,#black:checked{
        background-color: black;
        accent-color: black;
    }


    /*----------------------------------------*/


    .option{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .optionCar1{
        width: 30px;
    }
    .optionCar>img{
        width: 80%;
    }
    }