@media screen and (min-width:1024px),
screen and (min-height:1024px) and (orientation:landscape){

    #wrap{
        width: 90%;
        margin: 0 auto;
    }
    
    /* 헤더 */
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: rgba(220, 216, 216, 0.39);
        margin: 0 auto;
    }
    
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .header1{
        margin-right: auto;
    }

    .header2{
        margin-left: auto;
    }
    
    .logo{
        width: 10rem;
        /* float: center; */
        margin: 0 auto;
    }
    
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 1vw;
    }
    
    nav li a{
        text-decoration: none;
        color: #333; 
    }

    /* 검색창 */
    .search{
        float: center;
    }

}